.home-container{
    // height: 90vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

}

.big-title{
    // width: 65%;
    h4{
        font-weight: 300;
        margin: 0;
    }
    

    span{
        margin-bottom: 15px;
    }
}
h1{
    // font-size: 60px;
    
    span{
        color: #E7AB79;

    }

}

.home-receip--container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

.big-title--container{
    display: flex;
    flex-direction: column;
    // padding-top: 30px;
    padding-left: 25px;
    justify-content: flex-start;
}

.illustration-container{
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 30px 0;
    .white-circle{
        height: 130px;
        width: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        box-shadow: 0px 0px 37px 10px #4C3A51;
        z-index: 2;
        margin-bottom: 25px;
    }
}
.parallax-back{
    position: absolute;
    z-index: 1;
    right: 160px;
}

.parallax-front{
    position: absolute;
    top: 175px;
    right: 0px;
    z-index: 3;
}
.explore-menu{
    button{
        margin: 20px 0;
        background-color: #4C3A51;
        border: none;
        outline: none;
        height: 40px;
        width:  120px;
        border-radius: 6px;
        color: #E7F6F2;
        transition: all .3s ease-in-out;

        a{
            color: #E7F6F2;
            height: 100%;
            width: 100%;
        }

        &:hover{
            a{
            // color: #E7AB79;

            }
            background-color: #774360;
        }
    }
}

.card--box{
    display: flex;
    justify-content: center;

   
}

.card--container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: #fff;
    height: 200px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 2px 5px -5px #2e2e2e;
        transition: all 0.5s;
    padding-top: 10px;

    &:first-child{
        background: #f0ddfb;
    }

    &:nth-child(2){
        background: #bdedb4;
    }

    &:last-child{
        background: #FAD9A1;
    }

    .img--container{
        display: flex;
        align-items: center;
        height: 50%;
    }

    .card--title--container{
        display: flex;
        max-width: 90%;
        min-height: 25%;
    }
    .card--title{
        padding-bottom: 10px;
        text-align: center;
    }

    &:hover{
            // box-shadow: 2px 2px 5px 0px #A8A4CE;
            transform: scale(1.05);

    }

}

.macro--container{
    span{
        display: flex;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}