<div class="home-container">

    <div class="big-title--container">
        <div class="big-title">
            <h1>
                Commence à cuisiner <span>sainement</span> avec mes petites recettes
            </h1>
            <h4>
                Envie de perdre du poids mais tu ne sais pas comment ?
            </h4>
            <span>Regarde mes recettes</span>
        </div>

        <div class="explore-menu">
            <button><a href="#">Explorer le menu</a></button>
        </div>
    </div>

    <div class="illustration-container">
        <div class="white-circle">
            <div class="home-receip--container">
                <img src="../../../assets/images/homePageReceip.png" alt="Home page receip" width="200">
            </div>
            <!-- <div class="parallax-back">
                <img src="../../../assets/images/homePageReceip.png" alt="tacos" width="100">
            </div>
            <div class="parallax-front">
                <img src="../../../assets/images/ramen.png" alt="ramen" width="100">
            </div> -->
        </div>
    </div>


</div>

<div class="card--container">
    <div class="card--box">
        <div class="card">
            <div class="img--container">
                <img src="../../../assets/images/ramen.png" alt="ramen" width="70">
            </div>
            <div class="card--title--container"><span class="card--title">Poutchi Ramen</span></div>
            <div class="macro--container">
                <span>330 Kcal</span>
                <span>42g Prot</span>
            </div>
        </div>
        <div class="card">
            <div class="img--container">
                <img src="../../../assets/images/tacos.png" alt="ramen" width="70">
            </div>
            <div class="card--title--container"><span class="card--title">Poutchi Burrito</span></div>
            <div class="macro--container">
                <span>330 Kcal</span>
                <span>42g Prot</span>
            </div>
        </div>
        <div class="card">
            <div class="img--container">
                <img src="../../../assets/images/homePageReceip.png" alt="ramen" width="70">
            </div>
            <div class="card--title--container"><span class="card--title">Poutchi Bolognaise</span></div>
            <div class="macro--container">
                <span>330 Kcal</span>
                <span>42g Prot</span>
            </div>
        </div>
    </div>

</div>